<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form id="loginForm" action="/user/login" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required autocomplete="email"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <button type='submit'>Login</button>
      </form>
      <p>New User?<a href='/user/signup'>Sign Up</a></p>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script>
      document.getElementById('loginForm').addEventListener('submit', function (e) {
        e.preventDefault();
    
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
    
        const loginDetails = {
            email: email,
            password: password
        };
    
        axios.post('http://localhost:8000/user/login', loginDetails)
        .then(response => {
            if (response.status === 200) {
                const token = response.data.token;

                // Store the token in localStorage
                localStorage.setItem('token', token);
                localStorage.setItem('userDetails', JSON.stringify(response.data.user));

                // Include the token in the headers of the GET request
                axios.get('http://localhost:8000/user/addExpenses', {
                    headers: {
            "Authorization": `Bearer ${token}`, // Use Bearer token format
            "Content-Type": "application/json", // Set Content-Type
        } ,
                })
                .then(() => {
                    // Redirect to the desired page on successful login
                    window.location.href = "/user/addExpenses";
                })
                .catch(error => {
                    console.error('Error while fetching addExpenses:', error);
                });
            } else {
                throw new Error('Failed to login');
            }
        })
        .catch(err => {
            document.body.innerHTML += `<div style="color:red;">${err} <div>`;
        });
    });
    
      </script>
    
</body>
</html>