<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
    <button id="myExpenses" onclick='myExpenses(event)'>My Expenses</button><br>
    <button id="myIncome" onclick="myIncome(event)">My Income</button><br>
    <button id="dailyExpenses" onclick="dailyExpenses(event)">Daily Expenses</button><br>
    <button id="weeklyExpenses" onclick="weeklyExpenses(event)">Weekly Expenses</button><br>
    <button id="monthlyExpenses" onclick="monthlyExpenses(event)">Monthly Expenses</button><br>
    <button id="leaderBoard" onclick="leaderBoard(event)">Leader Board</button><br>
    <script src='/prmeiumHomePage/premiumFeatures.js'></script>
</body>
</html>